<div id="program">
    <h2>On Now</h2>
    <h3>{{ programOnNow.name }}</h3>
    <p>{{ programOnNow.start }} - {{ programOnNow.end }}</p>
</div>

{{# if trackOnNow }}
<div id="song">
    <h4>Playing Now</h4>
    <p>{{ trackOnNow.composer }} - {{ trackOnNow.name }} ({{ trackOnNow.start }})</p>
</div>
{{ else }}
<p id="no-playlist">Playlist not available. {{# if programOnNow.link }}<a href="{{ programOnNow.link }}" target="_blank">Contact the host</a> to inquire about a piece.</p>{{/if}}
{{/if}}

<div id="up-next">
    <h2>Up Next</h2>
    <h3>{{ programUpNext.name }}</h3>
    <p>{{ programUpNext.start }} - {{ programUpNext.end }}</p>
</div>
